body{
    background-color: #0979b0;
}

.contentContainer {
    background-color: #0979b0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.imgContainer {
    flex: 1;
    display: flex;
    align-items: space-around;
    justify-content: center;
    flex-direction: column;
    border:  4px outset black;
    border-radius: 5px;
}

.parrafos{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
}

.actividades{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid gray;
    border-radius: 3px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 3px;
    transition: transform 2s;
}

.contenedor:hover{
    transform: scale(1.01);
}