body{
    background-color: #0979b0;
}

.contentContainer {
    background-color: #0979b0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.imgContainer {
    flex: 1;
    display: flex;
    align-items: space-around;
    justify-content: center;
    flex-direction: column;
    border:  4px outset black;
    border-radius: 5px;
}

.parrafos{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
}

.actividades{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 400px;
    overflow-y:scroll;
    border-radius: 3px;
}

.actividades p{
    background-color: white;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px 0;
    width: 70%;
}

.contenedor{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    transition: transform 2s;
}

.contenedor:hover{
    transform: scale(1.01);
}

.textosPrincipales{
    color: white;
    position: relative;
    text-decoration: none;
}

.textosPrincipales::after{
    display: flex;
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    border-bottom:  solid black;
}

.subrayado{
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}


.parrafos p{
    background-color: white;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px 0;
    width: 70%;
}