.container{
    background-color: #272727;
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    background-size: 70px;
    height: 50px;
    padding: 0px 0;
}

.links{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 0 28px;
}

/* .Link {
    text-align: center;
    background-color: #0979b0;
    background-position: center;
    border: 1px solid black;
    width: 40px;
    height: 23px;
    border-radius: 3px;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    line-height: 23px;
    text-decoration: none;
    &:hover{
        color: #272727;
        text-shadow: none;
        background-color: beige;
    }
} */
.Link,
.Link2 {
    text-align: center;
    background-color: #0979b0;
    background-position: center;
    border: 1px solid black;
    width: 90px;
    height: 23px;
    border-radius: 3px;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    line-height: 23px;
    text-decoration: none;
    &:hover{
        color: #272727;
        text-shadow: none;
        background-color: beige;
    }
}

.logo{
    color: white;
    font-size: 24px;
    margin: 0;
}