.container{
    background-color: #daa520
}


.container h1{
    /* background-color: blue; */
    color: #005200;
    font-family:"Segoe IU", sans-serif;
    margin: auto;
    background-position: center center;
    background-size: cover;
    width: fit-content;
}