.container{
    background-color: #0979b0;
}


.container h1{
    /* background-color: blue; */
    color: black;
    font-family:"Segoe IU", sans-serif;
    margin: auto;
    background-position: center center;
    background-size: cover;
    width: fit-content;
}