.container{
    background-color: #0979b0;
}


.container h1{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px auto;
    background-position: center center;
    background-size: cover;
    width: fit-content;
    transition: box-shadow 0.3s;
    position: relative;
    border-radius: 5px;
}
