.container {
    background-color: #c6c6c6;
    border-radius: 10px;
    width: 140px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    position: relative;
    perspective: 1000px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    &:hover{
        box-shadow: 0 0 20px white;
        transform: scale(1.05);
        transition: 300ms;

    }
}


.container img {
    border-radius: 10px;
    width: 140px;
    height: 90px;
    object-fit: cover;
    margin-top: auto;
    box-shadow: 0 5px 5px black;
    &:hover{
        transform: scale(1.05);
    }
}

.texto{
    display:contents;
    justify-content: center;
    text-align:left;
}

.texto h2 {
    color: black;
    margin: 0%;
    font-family: var(--primary-font);;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.texto h3 {
    color: black;
    margin: 25px 0;
    font-family: var(--primary-font);
}