.container {
    background-color: darkgrey;
    border-radius: 10px;
    width: 140px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    position: relative;
    perspective: 1000px;
    box-shadow: 0 0 10px black;
    &:hover{
        box-shadow: 0 0 20px blue;
        transform: scale(1.05);
        transition: 300ms;

    }
}

.container img {
    border-radius: 10px;
    width: 140px;
    height: 80px;
    object-fit: cover;
    box-shadow: 0 5px 5px black;
    &:hover{
        transform: scale(1.05);
    }
}

.texto h3 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.texto h4 {
    color: #3169;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}