.container{
    background-color: #0979b0;
    padding: 20px;
    width: 1000px;
}

.letra{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    font-size: 24px;
    margin-bottom: 10px;
}

.inputs{
    border-radius: 5px;
}

.countryList{
    max-height: 200px;/*altura maxima de la lista*/
    overflow-y: auto;/* Agrega una barra de desplazamiento vertical si el contenido excede la altura máxima */
    border: 1px solid #ddd;/* Borde de 1px con color gris claro */
    padding: 10px;/* Espacio de relleno (padding) alrededor del contenido interno */
}

.countryLabel {
    display: block;/*esta propiedad cambia el elemento a un elemento de bloque. los de bloque ocupan todo el ancho disponible y comienzan en una nueva linea*/
    margin-bottom: 5px;
}

.errors {
    margin-top: 5px;
    color: red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    border-radius: 5px;
    background-color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    &:hover{
        color: #272727;
        text-shadow: none;
        background-color: beige;
    }
}