.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1180px; /* Ajusta el valor según tu diseño */
    margin: 0 auto;
    background-color: #0979b0;
}

.filtrados {
    display: flex;
}

.filters{
    background-color: white;
    color: black;
    display: flex;
    max-width: 90px;
    max-height: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}
.filters:hover{
    border-color: white;
}

.filter{
    display: flex;
    background-color: white;
    color: black;
    max-width: 90px;
    max-height: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}
.filter:hover{
    border-color: white;
}
.pagination-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}

.pagination{
    display: flex;
    align-items: center;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:16px;
    color: black;
}

.button {
    border-radius: 5px;
    background-color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 5px;
    &:hover{
        color: #272727;
        text-shadow: none;
        background-color: beige;
    }
}

.buttonReset{
    display: flex;
    border-radius: 5px;
    height: 21px;
    background-color: #ff3816;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
    &:hover{
        color: #272727;
        text-shadow: none;
        background-color: beige;
    }
}