.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.imagen{
    width: 120px;
    height: 120px;
    border-radius: 70px;
    transition: transform 2s;
}

.imagen:hover{
    transform: scale(2);
}