.bootonn {
    margin: 2px 2px 0 0;
    border-radius: 3px;
    border: 1px solid black;
    width: 105px;
    height: 25px;
    margin-top: 0px;
    font-size: 14px;
    line-height: 5px;
    background-color: #0979b0;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    &:hover {
        color: #272727;
        text-shadow: none;
        background-color: beige;
    }
}

.inputt input {
    margin-top: 0px;
}

.bar{
    display: flex;
}