.bootonn {
    margin: 2px 2px 0 0;
    border-radius: 3px;
    border: 1px solid black;
    width: 105px;
    height: 25px;
    margin-top: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    line-height: 1px;
    background-color: #0979b0;
    color: black;
    &:hover {
        color: #272727;
        text-shadow: none;
        background-color: beige;
    }
}

.inputt input {
    height: 24px;
    border: 0px;
    padding: 10px;
    border:  1px solid #ccc;
    border-radius: 3px;
}

.bar{
    display: flex;
}